<section class="card">
    <a href="/review/{{id}}">
        <header>{{game title}}</header>
        <div class="card-body">
            <div>{{game-description}}</div>
            <div class="form-group">
                <label for="project-desc">Commits:</label>
                <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
            </div>
        </div>
    </a>
</section>