<section class="card">
    <form class="new-review">
    <header id="game_title">{{title}}</header>
    <div class="card-body">
        <div id="game_genre"><strong>Genre:</strong> {{genre}}</div>
        <div id= "platform"><strong>Platforms:</strong> {{platform}}</div>
        <div id="description"><strong>Description:</strong> {{description}}</div>
        
        <div class="form-group" id="reviewSubmit">
            <button type="submit" class="btn btn-primary">Create Game</button>
        </div>
    </div>
</form>
</section>

<script src="/js/review.js"></script>