<section class="card">
    <form class="updated-review">
        <header id="game_title"><strong> {{game_title}}</strong></header>
        <div class="card-body">
            <div id="game_genre"><strong>Genre:</strong> {{game_genre}}</div>
            <div><strong>Platforms:</strong> {{platform}}</div>
            <div id="description"><strong>Description:</strong> {{description}}</div>

            <div class="edit-review">
                <label for="review-desc"><strong>Comments:</strong> </label>
                <textarea class="form-input" id="review-desc" name="review-desc"></textarea>
            </div>
            <div class="form-group" id="reviewSubmit">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</section>

<script src="/js/comment.js"></script>